# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
/AppMix/*.suo
/AppMix/lib40/obj
/AppMix/lib40/bin
/AppMix/AppMix.sln.ide
/AppMix/AppMix/AppMix.WinPhone/obj
/AppMix/AppMix/AppMix.WinPhone/Bin
/AppMix/AppMix/AppMix.Android/obj
/AppMix/AppMix/AppMix.Android/bin
/AppMix/AppMix/AppMix/bin
/AppMix/AppMix/AppMix/obj
/AppMix/packages
/AppMix/packages
/AppMix/lib40/obj
/AppMix/lib40/bin
/AppMix/AppMix/AppMix.WinPhone/obj
/AppMix/AppMix/AppMix.WinPhone/Bin
/AppMix/AppMix/AppMix.Android/obj
/AppMix/AppMix/AppMix.Android/bin
/AppMix/AppMix/AppMix/bin
/AppMix/AppMix/AppMix/obj
/AppMix/packages
/AppMix/lib40/obj
/AppMix/lib40/bin
/AppMix/AppMix/AppMix.Android/obj
/AppMix/AppMix/AppMix.Android/bin
/AppMix/AppMix/AppMix.Android/bin
/AppMix/AppMix/AppMix.Android/obj
/AppMix/AppMix/AppMix/obj
/AppMix/AppMix/AppMix/bin
/AppMix/AppMix/AppMix.Android/bin
/AppMix/AppMix/AppMix.Android/obj
